# --------------------------
# Archivos del sistema operativo
# --------------------------
.DS_Store       # macOS
Thumbs.db       # Windows
desktop.ini     # Windows
*.swp           # Archivos temporales de Vim

# --------------------------
# Entornos de desarrollo/IDEs
# --------------------------
.vscode/
.idea/
*.sublime-workspace

# --------------------------
# Dependencias y paquetes
# --------------------------
node_modules/   # Node.js
venv/           # Entorno virtual Python
*.pyc           # Bytecode Python
__pycache__/
bin/            # Ejecutables compilados (algunos proyectos)
obj/            # Objetos compilados (C#)
vendor/         # PHP Composer

# --------------------------
# Archivos de entorno y sensibles
# --------------------------
.env
*.key
*.pem
config/secrets.yml

# --------------------------
# Logs y bases de datos
# --------------------------
*.log
logs/
*.sqlite
*.db

# --------------------------
# Outputs de compilación
# --------------------------
dist/
build/
*.exe
*.class         # Java
*.jar
*.war